_auth="ZTMwMTYxOTE6QUtDcDVidUpaV3dwTEJMQjduTVliVmJqeU1vYXpTSkd4SmtaRVZwRWFHR0NaWFJvVWpFaGhHTnVEcFdHNVJTQkVDZjdRVEMxRQ=="
always-auth=true
registry=https://repo.devcloud.sungard.com/artifactory/api/npm/fis-npm
email=ashish.sharma@fisglobal.com
strict-ssl=false
proxy=http://e3016191:September%409638527410@proxy.fnfis.com:8080/
https-proxy=http://e3016191:September%409638527410@proxy.fnfis.com:8080/
